.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  max-width: 300px;
}

.errorContainer {
  padding: 15px;
  text-align: center;
}

.highlightUsername {
  font-weight: normal;
  margin-left: 5px;
}
